<script>
    var selected_bundle_id = null;
    var selected_appname = null;

    function enable(selector) {
        const element = document.querySelector(selector);
        element.classList.remove("none")
    }

    function disable(selector) {
        const element = document.querySelector(selector);
        element.classList.add("none")
    }

    function clear(selector) {
        var container = document.querySelector(selector);
        container.textContent = '';
    }

    function openStripeCheckout(bundleId, report){
        console.log('openStripeCheckout');
        var auditUrl = 'https://us-central1-appscanhq.cloudfunctions.net/checkout?bundleID='+bundleId+'&report='+report;
        $.ajax({
            url: auditUrl,
            cache: false,
            dataType: 'json',
            success: function (data) {
                console.log('success', data);
                var link = data.paymentLink;
                document.location.href = link;
            },
            error: function (request, status, error) {
                console.log('error', error);
            }
        });
    } 

    function updatePage(lookupData){
        if (lookupData.results.length == 1) {
            var json = lookupData.results[0];
            var node = document.querySelector("#app-title");
            node.innerHTML = `${json.trackName} by ${json.artistName}`;

            node = document.querySelector("#artworkUrl512");
            node.src = json.artworkUrl512;

            node = document.querySelector("#bundleID");
            node.innerHTML = `${json.bundleId}`;

            node = document.querySelector("#description");
            node.innerHTML = `${ json.description }`;

            node = document.querySelector("#version");
            node.innerHTML = `${json.version}`;
        }        
    }

    function simpleItunesSearch(params, country) {
        console.log('simpleItunesSearch params:' + params);
        var term = params['bundleID'];
        var c = 'us';
        if (country) {
            c = country;
        }

        var url = 'https://itunes.apple.com/lookup?bundleId='+term+'&country='+c
        console.log('url:' + url);

        $.ajax({
            url: url,
            cache: false,
            dataType: 'json',
            success: function (data) {
                console.log('success', data);
                updatePage(data);
            },
            error: function (request, status, error) {
                console.log('error', error);
            }
        });

    }

    window.addEventListener("DOMContentLoaded", (event) => {
        console.log('DOMContentLoaded');
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());
        var bundleID = params['bundleID'];
        var url = 'https://itunes.apple.com/lookup?bundleId='+bundleID+'&country=us&callback=myCallback'
        var s = document.querySelector('#request-itunes-api');
        s.src = url;
        //simpleItunesSearch(params, 'us');

        node = document.querySelector("#get-appscore-report");
        node.href = '/appscore-evaluation-appstore-one-app.html?bundleID=' + bundleID;

        // Add onClick listerners 
        node = document.querySelector("#get-synthetic-reports");
        node.addEventListener("click", function(){
            spinner("get-synthetic-reports-spinner", true);
            openStripeCheckout(bundleID, 'appscan')
        });
        node = document.querySelector("#get-synthetic-reports-2");
        node.addEventListener("click", function(){ 
            spinner("get-synthetic-reports-2-spinner", true);
            openStripeCheckout(bundleID, 'appscan')
        });
        node = document.querySelector("#get-audit-reports");
        node.addEventListener("click", function(){
            spinner("get-audit-reports-spinner", true);
            openStripeCheckout(bundleID, 'audit')
        });
        node = document.querySelector("#get-audit-reports-2");
        node.addEventListener("click", function(){ 
            spinner("get-audit-reports-2-spinner", true);
            openStripeCheckout(bundleID, 'audit')
        });
    });
</script>

<script>
function myCallback(data){
    console.log('myCallback.data', data);
    updatePage(data);
}
function spinner(id, activate){
    var el = document.getElementById(id);
    if (activate) {
        el.classList.add("fa");
        el.classList.add("fa-spinner");
        el.classList.add("fa-spin");

    } else {
        el.classList.remove("fa");
        el.classList.remove("fa-spinner");
        el.classList.remove("fa-spin");
    }
}
</script>

<!-- Add icon library : for the loader -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script id="request-itunes-api" type="text/javascript"></script>

<div id="results-container">
    <h1 id="app-title">The Explorers by The Explorers Network</h1>

    <p>
        <img src="" alt="" class="half center" id="artworkUrl512">
    </p>
    <table>
        <tr>
            <td> <a target="_blank" id="get-appscore-report" href="/appscore-evaluation-appstore-one-app.html" class="btn btn--inverse" style="font-size: 1.5em;"> Get AppScore report (free)</a> </td>
            <td> <a target="_blank" id="get-synthetic-reports" class="btn btn--info" style="font-size: 1.5em;"> <i id="get-synthetic-reports-spinner"></i> Buy Synthetic reports</a></td>
            <td> <a target="_blank" id="get-audit-reports" class="btn btn--success" style="font-size: 1.5em;"> <i id="get-audit-reports-spinner"></i> Buy Audit reports</a>  </td>
        </tr>
    </table>
    <br>
    <p>
        <b>BundleID:</b> <span id="bundleID"></span>
    </p>
    <p>
        <b>Version:</b> <span id="version"></span>
    </p>
    <p>
        <b>Description:</b> <span id="description"></span>
    </p>

    <h2 id="appscan-reports-h2">AppScan reports</h2>
    <table>
        <tr>
            <td> <a target="_blank" id="get-appscore-report-2" href="/appscore-evaluation-appstore-one-app.html" class="btn btn--inverse" style="font-size: 1.5em;"> Get AppScore report (free)</a> </td>
            <td> <a target="_blank" id="get-synthetic-reports-2" class="btn btn--info" style="font-size: 1.5em;"> <i id="get-synthetic-reports-2-spinner"></i> Buy Synthetic reports</a></td>
            <td> <a target="_blank" id="get-audit-reports-2" class="btn btn--success" style="font-size: 1.5em;"> <i id="get-audit-reports-2-spinner"></i> Buy Audit reports</a>  </td>
        </tr>
    </table>
    <p>

    </p>
</div>


