<script>
    var selected_bundle_id = null;
    var selected_appname = null;

    function enable(selector) {
        const element = document.querySelector(selector);
        element.classList.remove("none")
    }

    function disable(selector) {
        const element = document.querySelector(selector);
        element.classList.add("none")
    }

    function clear(selector) {
        var container = document.querySelector(selector);
        container.textContent = '';
    }

    function updatePage(lookupData){
        if (lookupData.results.length == 1) {
            var json = lookupData.results[0];
            var node = document.querySelector("#app-title");
            node.innerHTML = `${json.trackName} by ${json.artistName}`;

            node = document.querySelector("#artworkUrl512");
            node.src = json.artworkUrl512;

            node = document.querySelector("#bundleID");
            node.innerHTML = `${json.bundleId}`;

            node = document.querySelector("#description");
            node.innerHTML = `${ json.description }`;

            node = document.querySelector("#version");
            node.innerHTML = `${json.version}`;

            node = document.querySelector("#get-appscore-report");
            node.href = '/appscore-evaluation-appstore-one-app.html?bundleID=' + json.bundleId;

            node = document.querySelector("#get-appscore-report-2");
            node.href = '/appscore-evaluation-appstore-one-app.html?bundleID=' + json.bundleId;

            node = document.querySelector("#get-synthetic-reports");
            var bundleId_converted = json.bundleId.replace(/\./g, "_");
            node.href = 'https://buy.stripe.com/7sIfZqh1o4SQa1WbIK?client_reference_id=' + bundleId_converted;

            node = document.querySelector("#get-synthetic-reports-2");
            node.href = 'https://buy.stripe.com/7sIfZqh1o4SQa1WbIK?client_reference_id=' + bundleId_converted;

            node = document.querySelector("#get-audit-reports");
            node.href = 'https://buy.stripe.com/bIYcNe5iG1GE1vq7sv?client_reference_id=' + bundleId_converted;

            node = document.querySelector("#get-audit-reports-2");
            node.href = 'https://buy.stripe.com/bIYcNe5iG1GE1vq7sv?client_reference_id=' + bundleId_converted;
        }        
    }

    function simpleItunesSearch(params, country) {
        console.log('simpleItunesSearch params:' + params);
        var term = params['bundleID'];
        var c = 'us';
        if (country) {
            c = country;
        }

        var url = 'https://itunes.apple.com/lookup?bundleId='+term+'&country='+c
        console.log('url:' + url);

        $.ajax({
            url: url,
            cache: false,
            dataType: 'json',
            success: function (data) {
                console.log('success', data);
                updatePage(data);
            },
            error: function (request, status, error) {
                console.log('error', error);
            }
        });

    }

    window.addEventListener("DOMContentLoaded", (event) => {
        console.log('DOMContentLoaded');
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());
        var term = params['bundleID'];
        var url = 'https://itunes.apple.com/lookup?bundleId='+term+'&country=us&callback=myCallback'
        var s = document.querySelector('#request-itunes-api');
        s.src = url;
        //simpleItunesSearch(params, 'us');
    });
</script>

<script>
function myCallback(data){
    console.log('myCallback.data', data);
    updatePage(data);
}
</script>

<script id="request-itunes-api" type="text/javascript"></script>

<div id="results-container">
    <h1 id="app-title">The Explorers by The Explorers Network</h1>

    <p>
        <img src="" alt="" class="half center" id="artworkUrl512">
    </p>
    <table>
        <tr>
            <td> <a target="_blank" id="get-appscore-report" href="/appscore-evaluation-appstore-one-app.html" class="btn btn--inverse" style="font-size: 1.5em;"> Get AppScore report (free)</a> </td>
            <td> <a target="_blank" id="get-synthetic-reports" href="" class="btn btn--info" style="font-size: 1.5em;"> Buy Synthetic reports</a></td>
            <td> <a target="_blank" id="get-audit-reports" href="" class="btn btn--success" style="font-size: 1.5em;"> Buy Audit reports</a>  </td>
        </tr>
    </table>
    <br>
    <p>
        <b>BundleID:</b> <span id="bundleID"></span>
    </p>
    <p>
        <b>Version:</b> <span id="version"></span>
    </p>
    <p>
        <b>Description:</b> <span id="description"></span>
    </p>

    <h2 id="appscan-reports-h2">AppScan reports</h2>
    <table>
        <tr>
            <td> <a target="_blank" id="get-appscore-report-2" href="/appscore-evaluation-appstore-one-app.html" class="btn btn--inverse" style="font-size: 1.5em;"> Get AppScore report (free)</a> </td>
            <td> <a target="_blank" id="get-synthetic-reports-2" href="" class="btn btn--info" style="font-size: 1.5em;"> Buy Synthetic reports</a></td>
            <td> <a target="_blank" id="get-audit-reports-2" href="" class="btn btn--success" style="font-size: 1.5em;"> Buy Audit reports</a>  </td>
        </tr>
    </table>
    <p>

    </p>
</div>


